@font-face {
  font-family: 'ds-digib';
  src: url('../fonts/ds-digib.ttf') format('truetype');
}

body {
  background-color: #666;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-size: 2em;
  padding: 10px;
}

h2 {
  font-size: 1.5em;
  padding: 7px;
}

h3 {
  font-size: 1.2em;
  padding: 5px;
}

p {
  font-size: 1em;
  line-height: 1.2em;
  padding: 0.5em;
}

header {
  background-color: #333;
  border-top: 4px solid #ddd;
  border-right: 4px solid #999;
  border-bottom: 4px solid #999;
  border-left: 4px solid #ddd;
  padding: 10px;
  text-align: center;
}

button {
  background: #d9d9d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c9c9c), to(#d9d9d9));
  background: -webkit-linear-gradient(top, #9c9c9c, #d9d9d9);
  background: -moz-linear-gradient(top, #9c9c9c, #d9d9d9);
  background: -ms-linear-gradient(top, #9c9c9c, #d9d9d9);
  background: -o-linear-gradient(top, #9c9c9c, #d9d9d9);
  border-top: 1px solid #f7f7f7;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  color: white;
  font-size: 18px;
  font-family: Helvetica, Arial, Sans-Serif;
  padding: 7px 14px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  text-decoration: none;
  vertical-align: super;
}

button:hover {
  border-top-color: #787878;
  background: #787878;
  color: #ccc;
}

button:active {
  border-top-color: #5e5e5e;
  background: #5e5e5e;
}

main {
  background-color: #666;
  border-top: 5px solid #999;
  border-right: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  border-left: 5px solid #999;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 600px;
  padding: 5px;
}

li {
  background-color: silver;
  border-top: 1px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 1px solid #fff;
  display: inline-block;
  float: left;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}

.display1, .display2 {
  background-color: #000;
  border-top: 3px solid #666;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 3px solid #666;
  color: #f00;
  display: inline-block;
  font-family: 'ds-digib', sans-serif;
  font-size: 2.6em;
  padding: 5px 5px 0 5px;
}

.display1 {
  margin-left: 0.5em;
}

.display2 {
  margin-right: 0.5em;
}

.smileyface {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
  padding-right: 10px;
}

.minesweeper {
  border-top: 4px solid #ddd;
  border-right: 4px solid #999;
  border-bottom: 4px solid #999;
  border-left: 4px solid #ddd;
  margin-top: 1.2em;
  margin-right: auto;
  margin-bottom: 0.8em;
  margin-left: auto;
  max-width: 560px;
  overflow: hidden;
}

.greyMine {
  background-color: red;
  background-image: url("../images/grey_mine_32px.jpg");
  background-size: contain;
}

.redMine {
  background-color: red;
  background-image: url("../images/red_mine_32px.jpg");
  background-size: contain;
}

.flag {
  background-image: url("../images/flag_32px.png");
  background-size: contain;
}

.mineCount {
  margin: 0 auto;
  max-width: 560px;
  padding-top: 1em;
  text-align: center;
}

/* Number colours */
/* 1 */
.midBlue {
  background-color: #eee;
  color: #00f;
}

/* 2 */
.green {
  background-color: #eee;
  color: #32CD32;
}

/* 3 */
.red {
  background-color: #eee;
  color: #f00;
}

/* 4 */
.darkBlue {
  background-color: #eee;
  color: #009;
}

/* 5 */
.darkRed {
  background-color: #eee;
  color: #300;
}

/* 6 */
.aqua {
  background-color: #eee;
  color: #0ff;
}

/* 7 */
.black {
  background-color: #eee;
  color: #000;
}

/* 8 */
.midGrey {
  background-color: #eee;
  color: #666;
}

/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  text-align: center;
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Header */
.modal-header {
  background-color: #666;
  color: #fdfdfd;
  padding: 2px 16px;
}

/* Modal Body */
.modal-body {
  min-height: 5em;
  padding: 2em;
}

/* Modal Content */
.modal-content {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 20% auto; /* 25% from the top and centered */
  padding: 0;
  position: relative;
  width: 70%;
  background-color: #fdfdfd;
}

/* Modal Footer */
.modal-footer {
  background-color: #666;
  color: #fdfdfd;
  padding: 2px 16px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.githubLink,.githubLink:visited {
  color: #f0f0f0;
}

.githubLink:hover, .githubLink:focus {
  color: #fff;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
