@font-face {
  font-family: 'ds-digib';
  src: url('../fonts/ds-digib.ttf') format('truetype');
}

body {
  background-color: #666;
}

header {
  background-color: #333;
  border-top: 4px solid #ddd;
  border-right: 4px solid #999;
  border-bottom: 4px solid #999;
  border-left: 4px solid #ddd;
  padding: 10px;
  text-align: center;
}

button {
  background: #d9d9d9;
  background: -webkit-gradient(linear, left top, left bottom, from(#9c9c9c), to(#d9d9d9));
  background: -webkit-linear-gradient(top, #9c9c9c, #d9d9d9);
  background: -moz-linear-gradient(top, #9c9c9c, #d9d9d9);
  background: -ms-linear-gradient(top, #9c9c9c, #d9d9d9);
  background: -o-linear-gradient(top, #9c9c9c, #d9d9d9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 1px solid #f7f7f7;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  color: white;
  font-size: 18px;
  font-family: Helvetica, Arial, Sans-Serif;
  padding: 7px 14px;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  text-decoration: none;
  vertical-align: super;
}
button:hover {
  border-top-color: #787878;
  background: #787878;
  color: #ccc;
}
button:active {
  border-top-color: #5e5e5e;
  background: #5e5e5e;
}

main {
  border-top: 5px solid #999;
  border-right: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  border-left: 5px solid #999;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 600px;
  padding: 5px;
}

li {
  background-color: silver;
  border-top: 1px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 1px solid #fff;
  display: inline-block;
  float: left;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}

.display {
  background-color: #000;
  border-top: 3px solid #666;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 3px solid #666;
  color: #f00;
  display: inline-block;
  font-family: 'ds-digib', sans-serif;
  font-size: 2.6em;
  padding: 5px 5px 0 5px;
}

.smileyface {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
  padding-right: 10px;
}

.minesweeper {
  border-top: 4px solid #ddd;
  border-right: 4px solid #999;
  border-bottom: 4px solid #999;
  border-left: 4px solid #ddd;
  margin-top: 1.2em;
  margin-right: auto;
  margin-bottom: 1.2em;
  margin-left: auto;
  max-width: 560px;
  overflow: hidden;
}

/*.tile {
background-color: silver;
border-top: 1px solid #fff;
border-right: 2px solid #666;
border-bottom: 2px solid #666;
border-left: 1px solid #fff;
display: inline-block;
float: left;
font-weight: bolder;
height: 32px;
line-height: 32px;
text-align: center;
width: 32px;
}*/

.greyMine {
  background-color: red;
  background-image: url("../images/grey_mine_32px.jpg");
  background-size: contain;
}

.redMine {
  background-color: red;
  background-image: url("../images/red_mine_32px.jpg");
  background-size: contain;
}

.mineCount {
  margin: 0 auto;
  max-width: 560px;
  padding-top: 1em;
  text-align: center;
}

/* Number colours */
/* 1 */
.midBlue {
  background-color: #eee;
  color: #00f;
}

/* 2 */
.green {
  background-color: #eee;
  color: #32CD32;
}

/* 3 */
.red {
  background-color: #eee;
  color: #f00;
}

/* 4 */
.darkBlue {
  background-color: #eee;
  color: #009;
}

/* 5 */
.darkRed {
  background-color: #eee;
  color: #300;
}

/* 6 */
.aqua {
  background-color: #eee;
  color: #0ff;
}

/* 7 */
.black {
  background-color: #eee;
  color: #000;
}

/* 8 */
.midGrey {
  background-color: #eee;
  color: #666;
}
