body {
  background-color: #ddccbb;
}

main {
  margin: 0 auto;
  max-width: 600px;
}

li {
  background-color: silver;
  border-top: 1px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 1px solid #fff;
  display: inline-block;
  float: left;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}

.display {
  display: inline-block;
}

.smileyface {
  display: inline-block;
}

.minesweeper {
  border-top: 4px solid #ddd;
  border-right: 4px solid #999;
  border-bottom: 4px solid #999;
  border-left: 4px solid #ddd;
  margin: 0 auto;
  margin-top: 3em;
  max-width: 560px;
  overflow: hidden;
}

/*.tile {
  background-color: silver;
  border-top: 1px solid #fff;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 1px solid #fff;
  display: inline-block;
  float: left;
  font-weight: bolder;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}*/

.greyMine {
  background-color: red;
  background-image: url("../images/grey_mine_32px.jpg");
  background-size: contain;
}

.redMine {
  background-color: red;
  background-image: url("../images/red_mine_32px.jpg");
  background-size: contain;
}

.mineCount {
  margin: 0 auto;
  max-width: 560px;
  padding-top: 1em;
  text-align: center;
}


/* Number colours */
/* 1 */
.midBlue {
  background-color: #eee;
  color: #00f;
}

/* 2 */
.green {
  background-color: #eee;
  color: #32CD32;
}

/* 3 */
.red {
  background-color: #eee;
  color: #f00;
}

/* 4 */
.darkBlue {
  background-color: #eee;
  color: #009;
}

/* 5 */
.darkRed {
  background-color: #eee;
  color: #300;
}

/* 6 */
.aqua {
  background-color: #eee;
  color: #0ff;
}

/* 7 */
.black {
  background-color: #eee;
  color: #000;
}

/* 8 */
.midGrey {
  background-color: #eee;
  color: #666;
}
